@use '../../../styles/helpers/helpers' as *;

.recomendedBox {
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 2rem;
  margin-top: 4rem;
  font-size: size('smallestSize');

  .recommendCount {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .recommendedByFriends {
    .recommendFriend {
      width: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 0.3rem solid color('whiteColor');

      &:not(:last-child) {
        margin-right: -1.5rem;
      }
    }
  }
}
